:root {
  --primary-color: #0066cc;
  --primary-light-color: #4da6ff;
}

$bg: #1d1f20;
$bgBorder: #121414;
$black: #000000;
$blackTransparent: #00000030;
$gray: #555555;
$primary: var(--primary-color);
$primaryLight: var(--primary-light-color);
$primaryMusic: #0066cc;
$primaryMusicLight: lighten($primaryMusic, 25%);
$primaryDesign: #05a56b;
$primaryDesignLight: lighten($primaryDesign, 25%);
$white: #cccccc;
$whiteTransparent: #cccccc30;

:export {
  bg: $bg;
  bgBorder: $bgBorder;
  black: $black;
  blackTransparent: $blackTransparent;
  gray: $gray;
  primary: $primary;
  primaryLight: $primaryLight;
  primaryMusic: $primaryMusic;
  primaryMusicLight: $primaryMusicLight;
  primaryDesign: $primaryDesign;
  primaryDesignLight: $primaryDesignLight;
  white: $white;
  whiteTransparent: $whiteTransparent;
}
